.wrap {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-size: 14px;
}

.flex {
	display: flex;
	padding: 70px 20px 20px;
}

.content {
	display: flex;
	flex: 1;
	padding-bottom: 150px;
}

.wrapper {
	display: flex;
	width: 890px;
	margin: 60px auto;
}

.left {
	margin-right: 50px;
}

.left img {
	width: 200px;
}

.title {
	font-weight: bold;
}

.text {
	color: #333;
	margin: 0 0 14px;
	padding: 8px 0 16px;
	line-height: 16px;
}

.right {
	padding-top: 1rem;
}

.field {
	line-height: 24px;
}

.fieldName {
	font-weight: bold;
	padding-right: 5px;
}

.video {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.video video {
	width: 100%;
	height: 100%;
	background: #000;
}


@media screen and (max-width: 680px) {
	.flex {
		display: block;
		padding: 10px;
	}
}
