API={{ api }}
NODE_ENV={{ node_env }}
APP_PORT={{ app_port }}
BACKEND_PORT={{ backend_port }}
MONGODB_PORT={{ mongodb_port }}
APP_ENV_FILE={{ app_env_file }}
APP_RUN_USER={{ app_run_user }}
APP_DOCKER_NETWORK={{ app_docker_network }}
APP_DATABASE_HOST={{ app_database_host }}
BTS_FRONTEND_DOCKER_IMAGE={{ bts_frontend_docker_image }}
BTS_BACKEND_DOCKER_IMAGE={{ bts_backend_docker_image }}
