.wrap {
	height: 40px;
	width: 100%;
	color: #fff;
}

.header {
	background-color: #2e353d;
	position: fixed;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.content {
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

.menu {
	margin: 0;
	display: flex;
}

.link {
	color: #99abb6;
	text-decoration: none;
	height: 40px;
	display: block;
	line-height: 40px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all .2s;
}

.link:hover {
	color: #ffffff;
	transition: all .2s;
}

.active {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all .2s;
}

.logo {
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
}
.icon {
	height: 11px;
	margin-left: -10px;
}
.icon svg {
	color: #ffffff;
	width: 35px;
	height: 27px;
	margin-top: -8px;
}

.social {
	margin-left: auto;
	margin-top: 3px;
}

.mobSocial {
	margin-left: 6px;
	margin-top: 10px;
}

.vk svg {
	width: 27px;
	height: 27px;
	color: #fff;
	transition: color .2s;
}

.youtube {
	composes: vk;
}
.youtube svg {
	width: 32px;
	height: 32px;
}
.socialLink:hover svg {
	color: #ffdb4d;
	transition: color .2s;
}

.socialLink {
	padding: 10px;
}

@media screen and (max-width: 680px) {
	.menu {
		padding-left: 3px;
	}
	.social {
		display: none;
	}
	.hidden {
		display: none !important;
	}
	.hamburger {
		display: flex !important;
	}
}
.mobLink {
	font-size: 18px;
}

.mobile {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #1B1C1D;
	width: 100%;
	height: 100%;
	z-index: 99999;
	padding-top: 50px;
	transition: all .2s ease-in-out;
	transform: translateX(0);
}

.hamburger {
    display: none;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    position: absolute;
	right: 20px;
    top: 50%;
	z-index: 999999;
	transform: translateY(-50%);
	background: transparent !important;
}
.hamburger .active {
	background: transparent !important;
}
.bars,
.bars:before,
.bars:after {
    position: relative;
    width: 21px;
    height: 2px;
    margin: 0 auto;
    background: #ecf0f1;
    border-radius: 1px;
    transition: top .2s .2s, transform .2s;
}

.bars:before,
.bars:after {
    content: "";
    display: block;
    position: absolute;
}

.bars:before {
    top: -7px;
}

.bars:after {
    top: 7px;
}

.active .bars:before,
.active .bars:after {
    transition: top .2s,
    transform .2s .2s;
    top: 0;
}

.active .bars {
    background: transparent;
}

.active .bars:before {
    transform: rotate(45deg);
}

.active .bars:after {
    transform: rotate(-45deg);
}

.closed {
	transform: translateX(-100%);
}
